/*общее оформление*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --logo-color: #000000;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}


.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid red;
}

header {
  border-botton: 1px solid #ececec;
}

header .container {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.nav,
.links,
.contacts {
  display: flex;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
   display: flex;
   align-items: center;
   margin-right: 93px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-color_black {
  color: var(--logo-color);
}

.logo-color_white {
color: #ffffff;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: inline-block;
  padding: 32px 0;
}

.links .link {
  margin-right: 50px;
  text-transform: capitalize;
}
/* HEADER */

.contacts .link {
  margin-left: 50px;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.hero {
  padding: 200px 0;
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}
/*-----ЗАГОЛОВОК----*/
.hero-title {
font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* ----BUTTON ----*/
.hero-btn {
  font-family: "Roboto", sans-serif;
   font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus,
{
  background: #188ce8;
}
/*----СКРЫТЫЙ ЗАГОЛОВОК-----*/
.hide-elem {
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

.favore {
  padding-bottom:  0px;
}

.favore-list {
  display: flex;
  justify-content: space-between;
}

.favore-item:not(:last child) {
  margin-right: 30px;
}

.favore-title {
  margin-bottom: 10px;
  font-weight: bold;
font-size: 14px;
line-height: 1.19px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

}
/*---ТЕКСТ К ЗАГОЛОВКУ С ПРИИМУЩЕСТВОМ---*/ 
.favore-text {
  font-size: 14px;
line-height: 1,71px;
letter-spacing: 0.03em;
color: var(--primary-text-color)
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color)
}

.command-list {
  display: flex;
  justify-content: space-between;
}


.go-about-list {
  display: flex;
  justify-content: space-between;
}

.command {
background: #F5F4FA;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12) 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2)
  border-radius: 0px 0px 4px 4px
  width calc((100% - 90px) / 4)
}

.card-info {
  padding: 30px 0;
  text-align: center;
}

.card-title {
   font-weight: 500;
  font-size: 16px
line-height: 19px
Letter spacing: 0.03em
color: var( --title-text-color)
margin-bottom: 10px;
}

.card-text {
font-size: 16px
Line-height: 19px
Line height: 100%
Letter spacing: 0.03em
color var(--primary-text-color)
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-left-box .logo {
  margin-bottom: 20px;
}

.footer-contact-item {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color)
   font-style: normal;
  }

.footer-contact-item a {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px 111px;
}


/* PORTFOLIO */

.filter-selector {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  letter-spacing: 0.03em;
}

.filter-selector:focus,
.filter-selector:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
